---
layout: default
---

<div class="home">

  <h1 class="page-heading">Programme 2017</h1>

  <h2>Workshops/Courses supported by ELIXIR-IIB</h2>

  <ol>
	  <li><a href="https://elixir-iib-training.github.io/website/docs/workshop_on_statistical_literacy_and_metacognition.pdf"> <b>Workshop on "Statistical Literacy and Metacognition"</b></a><br>
            ELIXIR All Hands satellite workshop - Rome, 23rd March 2017<br>
            Instructor: Rochelle E. Tractenberg (Georgetown University Medical Center, Washington D.C., USA)</li>
	  
	  <li> <a href="http://meetings.embo.org/event/17-population-genomics"><b>EMBO Practical Course on Population Genomics: background and tools</b></a><br> 
            Napoli, 18-26 May 2017, Italy<br>
            Organisers: Vincenza Colonna, Chiara Batini, Allegra Via</li>
  </ol>


   <h2>ELIXIR-IIB workshops and training courses 2017</h2>

   <ol>
      <li><a href="https://elixir-iib-training.github.io/website/2017/04/10/protein-interactions-padova.html"><b>Workshop on Computational approaches to the study of protein interactions and rational drug design</b></a>
      	<br>
	University of Padova, 10-13 Apr 2017 <br>
	Local organisers: Lisanna Paladin, Marco Carraro <br>
	ELIXIR-IIB organisers: Allegra Via
	</li>
	<br>
      <li><a href="https://elixir-iib-training.github.io/website/2017/06/19/metagenomics-workshop-and-school-bari.html"><b>Workshop + Summer School in Advanced Computational Metagenomics</b></a>
      	<br>
	Bari, 19-23 Jun 2017 <br>
	ELIXIR-IIB organisers: Domenica D’Elia, Allegra Via, Loredana Le Pera
	</li>
	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/07/03/Galaxy-Cagliari.html"><b>Training Course on Galaxy for Bioinformatics tool developers</b></a><br>
	Cagliari, 03-05 Jul 2017 (immediately before BITS)<br>
	Local organisers: Mauro Cuccuru<br>
	Instructors: Rossano Atzeni, Mauro Cuccuru, Marco Tangaro, Paolo 		Uva <br>
	ELIXIR-IIB organisers: Allegra Via, Loredana Le Pera
	</li>
      	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/07/18/RNA-seq-Milano.html"><b>Training course on RNA-Seq data analysis</b></a>
      	<br>
      	University of Milano, 18-20 Jul 2017<br>
      	Local organisers: Giulio Pavesi, Federico Zambelli<br>
      	Instructors: Giulio Pavesi, Fabrizio Ferrè, Federico Zambelli, Matteo 		Chiara<br>
	ELIXIR-IIB organisers: Allegra Via, Federico Zambelli, Loredana Le Pera
	</li>
	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/09/04/MachineLearning-Trento.html"><b>Training course on Machine Learning for Biologists</b></a>
      	<br>
	Fondazione Edmund Mach, San Michele all'Adige, Trento, 4-7 	Sep 2017<br>
	Local organisers: Alessandro Cestaro<br>
	Instructors: Giuseppe Jurman, Marco Chierici, ... <br>
	ELIXIR-IIB organisers: Vincenza Colonna, Loredana Le Pera
	</li>
      	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/09/11/Python-Roma.html"><b>Training course on Python for Life Scientists</b></a>
      	<br>
      	Sapienza University of Rome, 11-15 Sep 2017<br>
	Local organisers: Veronica Morea<br>
	Instructors: Allegra Via, Alberto Calderone<br>
	ELIXIR-IIB organisers: Allegra Via, Loredana Le Pera
	</li>
      	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/09/27/RNA-seq-Salerno.html"><b>Training course on Best practices for RNA-Seq data analysis</b></a>
      <br>
	University of Salerno, 27-29 Sep 2017<br>
	Local organisers: Anna Marabotti, Roberto Tagliaferri, Alessandro Weisz<br>
	Instructors: Fabrizio Ferre’, Loredana Le Pera, Giorgio Giurato<br>
	ELIXIR-IIB organisers: Anna Marabotti, Allegra Via, Loredana Le Pera
	</li>
      	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/09/27/train-the-trainer-salerno.html"><b>ELIXIR-EXCELERATE Train the Trainer (TtT) course</b></a>
      	<br>
	University of Salerno, 27-29 Sep 2017<br>
	Local organisers: Anna Marabotti, Roberto Tagliaferri<br>
	Instructors: Allegra Via, Pedro Fernandes (Gulbenkian Institute de Ciencia, PT)<br>
	ELIXIR-IIB organisers: Anna Marabotti, Allegra Via, Loredana Le Pera
	</li>
      	<br>
	  <li><a href="https://elixir-iib-training.github.io/website/2017/10/18/Nettab-Palermo.html"><b>Elixir-IIB/NETTAB Tutorial on<br>Biological Networks: data analysis, visualization and medical application</b></a><br>
	ICAR-CNR, Palermo, 18-19 Oct 2017 <br>
	Local organisers: Luana Licata<br>
	Instructors: Luana Licata, Alberto Calderone, Inna Kuperstein (Curie Institut, Paris)<br>
	ELIXIR-IIB organisers: Luana Licata, Allegra Via, Loredana Le Pera
        </li>
	<br>
      <li><b>Training course: Linux shell scripting for data processing</b><br>
	CINECA, Rome, 11-12 Dec 2017<br>
	Local organisers: Tiziana Castrignano’<br>
	Instructors: Tiziana Castrignanò, Allegra Via, Loredana Le Pera<br>
	ELIXIR-IIB organisers: Allegra Via, Loredana Le Pera
	</li>
	<br>	
	<li><b>Software Carpentry workshop on Python</b><br>
	University of Milano Bicocca, 20-21 Feb 2018<br>
	Local organisers: Gianluca Della Vedova<br>
	Instructors: Giuseppe Profiti, Vincenza Colonna, Allegra Via<br>
	ELIXIR-IIB organisers: Allegra Via, Loredana Le Pera
	</li>
      	<br>
   </ol>


<!--
  <ul class="post-list">
    {% for course in site.posts %}
    {% if course.title %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
        "Hello world!"
          <a class="post-link" href="{{ course.url | prepend: site.baseurl }}">{{ course.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
-->


</div>
