---
layout: default
---

<div class="home">

  <h1 class="page-heading">Programme 2017</h1>

  <h2>Workshops/Courses supported by ELIXIR-IIB</h2>

  <ol>
	  <li><a href="https://elixir-iib-training.github.io/website/docs/workshop_on_statistical_literacy_and_metacognition.pdf"> <b>Workshop on "Statistical Literacy and Metacognition"</b></a><br>
            ELIXIR All Hands satellite workshop - Rome, 23rd March 2017<br>
            Instructor: Rochelle E. Tractenberg (Georgetown University Medical Center, Washington D.C., USA)</li>
	  
	  <li> <a href="http://meetings.embo.org/event/17-population-genomics"><b>EMBO Practical Course on Population Genomics: background and tools</b></a><br> 
            Napoli, 18-26 May 2017, Italy<br>
            Organisers: Vincenza Colonna, Chiara Batini, Allegra Via</li>
  </ol>


   <h2>ELIXIR-IIB workshops and training courses 2017</h2>

   <ol>
      <li><a href="https://elixir-iib-training.github.io/website/2017/04/10/protein-interactions-padova.html"><b>Workshop on Computational approaches to the study of protein interactions and rational drug design</b></a>
      	<br>
	University of Padova, 10-13 April 2017 <br>
	Local organisers: Lisanna Paladin, Marco Carraro <br>
	ELIXIR-IIB organisers: Allegra Via
	</li>
	<br>
      <li><a href="https://elixir-iib-training.github.io/website/2017/06/19/metagenomics-workshop-and-school-bari.html"><b>Workshop + Summer School in Advanced Computational Metagenomics</b></a>
      	<br>
	Bari, 19-23 June 2017 <br>
	ELIXIR-IIB organisers: Domenica D’Elia, Allegra Via
	</li>
	<br>
      	<li><b>Training course on Galaxy for Developers </b><br>
	Cagliari, 03-05 July 2017 (immediately before BITS) <br>
        Local organisers: Mauro Cuccuru, Giacinto Donvito (INFN,Bari) 		<br>
	Instructors: Mauro Cuccuru, Paolo Uva<br>
	ELIXIR-IIB organisers: Allegra Via
	</li>
      	<br>
      	<li><a href="https://elixir-iib-training.github.io/website/2017/07/18/RNA-seq-Milano.html"><b>Training course on RNA-Seq data analysis</b></a>
      	<br>
        University of Milano, 18-20 July 2017 <br>
        Local organisers: Giulio Pavesi, Federico Zambelli <br>
        Instructors: Giulio Pavesi, Fabrizio Ferrè, Federico Zambelli, Matteo 		Chiara <br>
	ELIXIR-IIB organisers: Allegra Via, Federico Zambelli
	</li>
	<br>
      	<li><b>Machine Learning for Biologists</b><br>
	Fondazione Edmund Mach, Trento, 04-07 September 2017 <br>
	Local organisers: Alessandro Cestaro<br>
	Instructors: Giuseppe Jurman (Fondazione Bruno Kessler, Trento, IT), Marco Chierici (Fondazione Bruno Kessler, Trento, IT)<br>
	ELIXIR-IIB organisers: Vincenza Colonna
	</li>
      	<br>
      	<li><b>Python for Life Scientists</b><br>
        Sapienza University of Rome, 11-15 September 2017<br>
	Local organisers: Veronica Morea, Allegra Via<br>
        Instructors: Allegra Via, Alberto Calderone<br>
	ELIXIR-IIB organisers: Allegra Via, Alberto Calderone
	</li>
      	<br>
      	<li><b>SWC Programming with Python</b><br>
	University of Milano Bicocca, 18-19 September 2017<br>
	Local organisers: Gianluca Della Vedova<br>
	Instructors: Giuseppe Profiti, Allegra Via<br>
	ELIXIR-IIB organisers: Allegra Via
	</li>
      	<br>
      	<li><b>SWC Programming with R & R for Reproducible Scientific Analysis</b><br>
        University of Milano Bicocca, 20-21 September 2017<br>
	Instructors: Vincenza Colonna, Allegra Via<br>
	ELIXIR-IIB organisers: Allegra Via, Vincenza Colonna</li>
      <br>
      <li><b>RNA-Seq data analysis</b><br>
	University of Salerno, 27-29 Sept 2017<br>
        Local organisers: Anna Marabotti, Roberto Tagliaferri, Alessandro Weisz<br>
        Instructors: Fabrizio Ferre’, Loredana Le Pera, Giorgio Giurato<br>
	ELIXIR-IIB organisers: Anna Marabotti, Allegra Via
	</li>
      	<br>
      	<li><b>ELIXIR-EXCELERATE Train the Trainer (TtT) course</b><br>
	University of Salerno, 27-29 Sept 2017<br>
        Local organisers: Anna Marabotti, Roberto Tagliaferri<br>
        Instructors: Allegra Via, Pedro Fernandes (Gulbenkian Institute de Ciencia, PT)<br>
	ELIXIR-IIB organisers: Anna Marabotti, Allegra Via
	</li>
      	<br>
<!--      <li><b>Biological Networks: data analysis, visualisation and medical application</b><br>
	University of Tor Vergata, October 2017 <br>
	Local organiser: Luana Licata, Alberto Calderone<br>
	Instructors: Luana Licata, Alberto Calderone, Livia Perfetto e Inna Kuperstein (Curie Institut, Paris)<br>
        Duration: 3 days</li>
-->
      <li><b>From Shell to Python scripting (for the automation of HTP data analysis pipelines)</b><br>
	CINECA, Rome, 11-12 Dec 2017 - CINECA<br>
        Local organisers: Tiziana Castrignano’<br>
	Instructors: Tiziana Castrignano’, Allegra Via<br>
	ELIXIR-IIB organisers: Allegra Via
	</li>
   </ol>


<!--
  <ul class="post-list">
    {% for course in site.posts %}
    {% if course.title %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
        "Hello world!"
          <a class="post-link" href="{{ course.url | prepend: site.baseurl }}">{{ course.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
-->


</div>
