---
layout: default
---

<!-- JSON-LD markup to represent event using schema.org 
   Allows for easy inclusion in ELIXIR TeSS (https://tess.elixir-europe.org) and
   better page rankings in Google. See bioschemas.org for more info -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "{{page.title}}",
  "startDate" : "{{page.date_start}}",
  "endDate" : "{{page.date_end}}",
  "location" : {
    "@type" : "Place",
    "name" : "{{page.venue}}"
  },
  "description" : "{{page.description}}"
}
</script>

<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>

<!--
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
-->
    <span class="post-meta">{{ page.venue }}</span> | 
    <span class="post-meta">{{ page.date_start | date: "%b %-d" }}</span>-<span class="post-meta">{{ page.date_end | date: "%-d, %Y" }}</span> |

  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

